*:focus{
    outline: none;
}

.header-wrapper
{
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul{
    display: flex;
}

.header-wrapper ul li{
    list-style-type: none;
    padding: 5px;
}

.header-wrapper ul li a{
    text-decoration: none;
    color:red
}

.footer-wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    background-color: #f3cbcb;
}
.input-error{
    color:red;
    position: relative;
    font-size: 20px;
}
.input-success{
    color:green;
    position: relative;
    font-size: 15px;
}

table, th, td{
    padding: 10px;
    border: 1px solid;
    border-collapse: collapse;
}

table button {
    margin:5px
}

table img{
    width:80px
}

.container{
    text-align: center;
}

.input-wrapper
{
    margin: 10px;
}

.input-field
{
    width:200px;
    height:30px;
}

.textarea-field
{
    width:400px;
    height:60px;
}

.button{
    width:200px;
    height:30px;
}

.button-link
{
    border:0;
    cursor: pointer;
    background: transparent;
    color:skyblue;
    margin: 20px;
    font-size: 22px;
}

.main-page-banner
{
    background-image: url("https://media.istockphoto.com/id/1407832840/photo/foods-enhancing-the-risk-of-cancer-junk-food.jpg?s=612x612&w=0&k=20&c=IBXz9XVfsZS-MM-AOW1kGel3WtgIDZpewFpNO2hGTGE=");
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    padding: 30px;
    height: 230px;
    color:#fff;
    text-align: center;
}

.input-wrapper
{
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    width:60%
}

.select-input
{
    height:40px;
    border:none;
    width:25%;
    padding-left: 15px;
}

.search-input
{
    height:40px;
    border:none;
    width:65%;
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

.location-list
{
    color: #000;
    list-style-type: none;
    text-align: left;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    margin-left:-5px;
    border:1px solid #ccc;
}

.location-list li
{
    width: 180px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.location-list li:hover{
    background-color: #ccc;
    color:rgb(59, 59, 61)
}